/* 全局样式 */
body,html,#app{
  font-size: 12px;
  height: 100%;
  margin: 0;
  padding: 0;
  min-width: 1200px;
}
.el-cascader-panel {
  height: 300px;
}
.el-card{
  margin-top: 15px;
}
.el-pagination{
  margin-top: 15px;
}
.el-table{
  margin-top: 15px;
}
.el-tabs{
  margin-top: 15px;
}
.el-steps{
  margin-top: 15px;
}
.el-step__title{
  font-size: 13px;
}
.ql-editor{
  min-height: 300px;
}