/* 全局样式 */
body,html,#app{
  height: 100%;
  margin: 0;
  padding: 0;
  min-width: 1200px;
}
.el-cascader-panel {
  height: 300px;
}
.el-card{
  margin-top: 15px;
}
.el-pagination{
  margin-top: 15px;
}
.el-table{
  margin-top: 15px;
}
.el-tabs{
  margin-top: 15px;
}